@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
header {
    height: 86px;
    width: 100%;
    flex-shrink: 0;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    justify-content: center;
    position: fixed;

}
.header{
    height: 86px;
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: inline-flex;
}
header div h1{
    height: 45px;
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
header div h3{
    width: 48px;
    height: 27px;
    color: #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 21px;
}

header nav ul{
    display: inline-flex;
    gap: 50px;
}
header nav ul a{
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
header nav ul img{
    margin-right: 10px;
}
header nav button{
    height: 44px;
    width: 213px;
    padding-bottom: 10px;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    border: none;
    margin-left: 50px;
}
header button img{
    position: relative;
    top: 5px;
    right: 10px;
}
header button a{
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.hi{
    width: 100%;
    height: 900px;
    flex-shrink: 0;
    background: #EFF0F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hi div{
    width: 664px;
    height: 345px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap: 30px;
}
.hi div h1{
    width: 617px;
    color: #2B2C34;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.hi div u {
    width: 3px;
    height: 50px;
    background: #2B2C34;
    position: relative;
    right: 5px;
}
.hi div p{
    width: 580px;
    color: #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 17px;
}
.hi form input{
    width: 444px;
    height: 67px;
    display: flex;
    padding: 21px 200px 21px 25px;
    align-items: center;
    gap: 10px;
    border: none;
}
.hi form button{
    display: flex;
    height: 67px;
    width: 145px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color:#FFFFFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    position: relative;
    left: 460px;
    bottom: 66px;
}
.Browse-the-category{
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    background: #EFF0F3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.name-and-link{
    width: 1250px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.name-and-link a:first-child{
    color: #2B2C34;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
}
.name-and-link a:last-child{
    color: #2B2C34;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 12px;
}
.name-and-link svg{
    width: 6px;
    height: 14px;
    flex-shrink: 0;
    position: relative;
    top: 2px;
}
.cards{
    width: 1248px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:37px;
    margin-top: 50px;
}
.card{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.card:hover{
    background: #6246EA;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.card:hover p{
    color: #FFFFFE;
}
.card-image{
    width: 100px;
    height: 120px;
    margin-left: 30px;
}
.card-image div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    flex-shrink: 0;
    border-radius: 7px;
    background:#FFFFFE;
}
.card-image p{
    height: 30px;
    color: #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 30px;
}
.FeaturedArticle{
    height: 4792px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
}
.article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1252px;
    height: 35px;
    padding: 2px 0 3px 0;
    gap: 904px;
    flex-shrink: 0;
    color: #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 80px;
}
.article a{
    color: #2B2C34;
}

